#java class
*.class

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

#gradle diretory
.gradle/

/build

#files for the dex vm
*.dex
*.apk

local.properties

.DS_Store
/captures
bin/
gen/
# Windows thumbnail db
Thumbs.db

